*{
    background-color: black;
    font-family: "Bungee Spice", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
body{
    padding: 0px 600px;
}
blockquote{
    font-size: x-large;
}
td{
    padding-left: 10px;
}
u{
    text-decoration: underline blue;
    text-decoration-thickness: 3px;
}

hr{
    border: 1px solid blue;
}
table{
    border: 1px solid blue;
}